################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Adm_AutoGestion/FileContentIndex/2472ae31-0897-4d37-aba2-f8f36cad2fa5.vsidx
/.vs/Adm_AutoGestion/FileContentIndex/d9358fb0-8609-47c5-a4a0-8f59192c2e08.vsidx
/.vs/Adm_AutoGestion/FileContentIndex/fbfb4594-9af7-479e-8ce7-8a371eed7f30.vsidx
/.vs/Adm_AutoGestion/config/applicationhost.config
/.vs/Adm_AutoGestion/DesignTimeBuild/.dtbcache.v2
/.vs/GestionClick/FileContentIndex/0e8ec91d-c268-4fa6-a564-0424d689033c.vsidx
/.vs/GestionClick/FileContentIndex/2ae6090c-b738-452f-adb5-b94b26751764.vsidx
/.vs/GestionClick/FileContentIndex/82df9960-6cc1-4ae4-a41d-b3b234ed4cab.vsidx
/.vs/GestionClick/FileContentIndex/8ebb84fd-dc90-454b-bbbc-0e8ef501a6b4.vsidx
/.vs/GestionClick/FileContentIndex/b602fdca-8bfb-459d-90fe-6b75bf23d97b.vsidx
/.vs/GestionClick/FileContentIndex/db62c8de-a9f0-451f-9672-dc8caa0415c4.vsidx
/.vs/GestionClick/FileContentIndex/e28a77a5-a2f7-4024-86ff-24349d4e840d.vsidx
/.vs/GestionClick/FileContentIndex/fe587348-1d9c-4daa-8bfa-e25a7e09fce7.vsidx
/.vs/ProjectEvaluation/adm_autogestion.metadata.v9.bin
/.vs/ProjectEvaluation/adm_autogestion.projects.v9.bin
/.vs/ProjectEvaluation/adm_autogestion.strings.v9.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/GestionClick/v17/.wsuo
/.vs/GestionClick/v17/DocumentLayout.backup.json
/.vs/GestionClick/v17/DocumentLayout.json
/.vs/GestionClick/v17/workspaceFileList.bin
/NOtificacionDiariaEvadesh/obj/Debug/net6.0/NOtificacionDiariaEvadesh.AssemblyInfo.cs
/NOtificacionDiariaEvadesh/obj/Debug/net6.0/NOtificacionDiariaEvadesh.AssemblyInfoInputs.cache
/NOtificacionDiariaEvadesh/obj/Debug/net6.0/NOtificacionDiariaEvadesh.assets.cache
/NOtificacionDiariaEvadesh/obj/Debug/net6.0/NOtificacionDiariaEvadesh.csproj.AssemblyReference.cache
/NOtificacionDiariaEvadesh/obj/Debug/net6.0/NOtificacionDiariaEvadesh.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Adm_AutoGestion/FileContentIndex/5484744a-9827-453d-b109-5abb5da281cd.vsidx
/.vs/Adm_AutoGestion/FileContentIndex/46c7a755-fb4b-4785-a563-bb2f7df02786.vsidx
