@model Adm_AutoGestion.Models.Empleado
@using System.Web.UI.WebControls;

@{var ListItems2 = new List<ListItem> {
        new ListItem { Text = "ALTERNANCIA", Value = "ALTERNANCIA" },
        new ListItem { Text = "EN CASA", Value = "EN CASA" },
        new ListItem { Text = "PRESENCIAL", Value = "PRESENCIAL" }
        };

    var ListItems = new List<ListItem> {
        new ListItem { Text = "NO", Value = "NO" },
        new ListItem { Text = "SI", Value = "SI" }
        };
}

<div class="container">


    <h2 class="text-center colorTitulo">Editar Modo Trabajo</h2>
    @*<form  action="~/Vacaciones/GuardarModoTrabajo">*@
    <div class="editor-label">
        Modo Trabajo
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.ModoTrabajo, new SelectList(ListItems2, "Value", "Text"), "Seleccione...", htmlAttributes: new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.ModoTrabajo)
    </div>
    <br />
    <div id="Observacion">
        <div class="editor-label">
            Horario de Trabajo
        </div>
        <div class="editor-field">
            <textarea class="form-control" rows="2" id="ObservacionModoTrabajo" name="ObservacionModoTrabajo"></textarea>

        </div>
    </div>

    <div class="mt-2">
        <label>Requiere Desplazamiento?</label>
        @Html.DropDownListFor(model => model.RequiereDesplazamiento, new SelectList(ListItems, "Value", "Text"), "Seleccione...", htmlAttributes: new { @class = "form-control", autocomplete = "off" })
    </div>

    <div class="row justify-content-start mt-3">
        <div class="col-12" style="text-align:center">
            @*<button type = "submit" id = "Search" class="btn" style="background-color:#96D44D; color:white; " >Guardar</button>*@
            @*<button class ="btn btn-primary " onclick="Guardar();return false;" style="background-color:#96D44D; color:white">Crear</button>*@
            <button type="submit" id="GuardarMT" name="GuardarMT" class="bi bi-save btn btn-outline-primary mb-2" onclick="javascript:return Guardar();"> Guardar</button>
        </div>
    </div>

    @*</form>*@
</div>




<script>
    //$('.js-example-basic-single').selectpicker({ width: '100%', theme: "classic" });
    $("#Observacion").hide();


    $(document).ready(function () {

        $("#ModoTrabajo").change(function () {
            var Modo = $("#ModoTrabajo").val();
            if (Modo == "ALTERNANCIA") {
                $("#Observacion").show();
            } else {
                $("#Observacion").hide();
                $("#ObservacionModoTrabajo").val(" ");

            }

        });


    });



</script>