<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="~/Contents/css/bootstrap.min.css">
<script src="~/Contents/js/bootstrap-select.min.js"></script>

</head>
<body style="margin-top:50px">
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background: linear-gradient(90deg, #07ABDF 10%, #426AB0 90%);">
      <a class="navbar-brand" href="~/Login/Index" onclick="location.reload();">
       <img src="~/Contents/image/Logoauto.png" class="d-inline-block align-top" alt="">&nbsp Gestión de Personal</a>
</nav>
<br />
<br />

<div class="container col-sm-offset-2 col-md-offset-2 col-lg-offset-3 col-sm-8 col-md-8 col-lg-4">
<br />
<br />



<div class="panel panel-info center-block">
        <div class="card  border-info mb-3 shadow p-3 mb-5" style="max-width: 45rem;"><br />
            
            <div class="panel-heading" align="center">
                <img src="~/Contents/image/icono.png" >
                <br />
                <br />
                <h5 style="color:#07ABDF">
                FIRMA PAZ Y SALVO
                </h5>
            </div>

                    <hr>
                      <h4>
                        <br />
                        <form  action="~/PazySalvo/firmarPazySalvo">
                         <div class="row justify-content-start">
                            <div class="col-6" style="text-align:left">
                                <input id = "signatureId" name="signatureId" type = "hidden" value = "@ViewBag.Id" />
                                <label for = "signatureSrNm">Nro Documento:</label>
                                <input  type = "text" class = "form-control" autofocus id = "signatureSrNm" name="signatureSrNm" placeholder="Nombre de usuario" autocomplete="off"/>
                            </div>                          
                          <div class="col-6" style="text-align:left">
                                <label for = "signatureCcss">Contraseña de acceso:</label>
                                <input type = "password" class = "form-control" id = "signatureCcss" name="signatureCcss" placeholder = "Contraseña de acceso" autocomplete="off"/>
                          </div> 
                        </div>  
                        <br />
                        <div class="row justify-content-start">
                          <div class="col-12" style="text-align:left">
                                <label for = "signatureObs" >Observaciones:</label>
                                <textarea class="form-control" id="signatureObs" name="signatureObs" rows="3"></textarea>
                          </div>   
                            <input type = "text" class = "form-control" id = "fuente" name ="fuente"  hidden ="hidden" value="@ViewBag.fuente"/> 
                         </div> 
                        <br />
                            <br />
                            <div class="row justify-content-start">
                                <div class="col-12" style="text-align:center">
                                    <button type = "submit" id = "Search" class="btn" style="background-color:#96D44D; color:white; " >Firmar</button>
                                </div>
                            </div>                     
                          
                     </form>
                        <br />
                        <br />
                      </h4>
                        
                      <hr>
              

</div>
</div>





</div>


</body>

<br />
<br />
 <nav class="navbar-fixed-bottom" style="border: solid 5px transparent;">    
        
        <p class="text-muted text-center" >Copyright © 2020 FOSCAL. Todos los derechos reservados. Fundación Oftalmológica de Santander - Clinica FOSCAL. - Bucaramanga. Colombia.</p>          
    </nav>
</html>
