@model Adm_AutoGestion.Models.ProcesoDisciplinario

<div class="container">


<br />
<br />
     <div class="col-12" style="text-align:left">
     @*      <label for="comment">Pretensión:</label>*@
                        <textarea class="form-control" rows="4"   id="Pretencion" name="Pretencion" readonly> @ViewBag.Proceso.Fundamentos</textarea>
          <br />
               </div>
    <br />
 </div>

