@model Adm_AutoGestion.Models.Eventos

<script src="~/Contents/js/Eventos.js"></script>
@using (Html.BeginForm())
{
<div class="row me-5 ms-5 mt-3">
    <div class="col-12 d-flex justify-content-center">
        Recuerde primero guardar el Presupuesto si lo requiere.
    </div>
    <div class="col-12 d-flex justify-content-center">
        Esta seguro que desea cerrar el evento?
    </div>
</div>
<div class="row mt-3 mb-2">
    <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="bi bi-save btn btn-outline-primary mb-2"> Aceptar</button>
        <button type="button" data-bs-dismiss="modal" class="bi bi-box-arrow-in-left btn btn-outline-primary ms-3 mb-2"> Cancelar</button>
    </div>
</div>
}
