@model Adm_AutoGestion.Models.Expositor

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="card m-3">
            <div class="card-body">
                <div class="row justify-content-start mt-3">
                    <div class="col-md-6">
                        @*@Html.LabelFor(model => model.EmpleadoId)*@
                        Empleado
                        @Html.DropDownList("EmpleadoId", new SelectList(ViewBag.Empleado, "nomcodigo", "Nombres"), "Seleccione...", htmlAttributes: new { @class = "form-control form-control-sm js-example-basic-single", data_live_search = "true" })
                        @*@Html.DropDownList("MotivoEntrega",  new SelectList(ListItems, "Value", "Text"),"Seleccione...", htmlAttributes: new { @class = "form-control"})*@
                        @* <select id="EmpleadoId" name="EmpleadoId" class="form-control js-example-basic-single" style="width:100%; height:50px">
                                <option>Seleccione...</option>
                            </select>*@
                    </div>

                    <div class="form-group col-md-6">
                        No. Capacitación
                        <input type="text" class="form-control form-control-sm" value="@ViewBag.Capacitacion.Id" disabled id="NmrCapacitacion" name="NmrCapacitacion" />
                    </div>

                    <div class="row justify-content-center mt-3">
                        <div class="col-12" style="text-align:center">
                            <button type="button" class="bi bi-plus-square btn btn-outline-primary rounded-pill mb-2" id="AddElemento" onclick="javascript: return AddRowCap('AddEmp2', true );"> Agregar</button>
                        </div>
                    </div>



                    <br />
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead><tr><th></th><th>Nombre</th><th>Documento</th><th>Area</th><th>Cargo</th><th>Tercero</th><th></th></tr></thead>
                                    <tbody id="AddItemsCap"></tbody>
                                    <tfoot><tr><td colspan="12"></td></tr></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

            </div>
        </div>

        <div class="row justify-content-start">

            <div class="col-12 " style="text-align:center">
                <button type="button" class="bi bi-save btn btn-outline-primary rounded-pill mb-2" id="AddCap" onclick="javascript: return SaveExpo();"> Guardar</button>
            </div>
            @*     <div class="col-6">
                   @Html.ActionLink("Atras", "ListaPorCompletar", "Capacitacion",null, new { @class="btn", style="background-color:#96D44D; color:white" })

                </div>*@
        </div>
    </fieldset>
}

<script>
    $('.js-example-basic-single').selectpicker({ width: '100%', theme: "classic" });
</script>